/* ========================= */
/* ======= CSS Start ======= */
/* ========================= */


body{
  font-family: 'Ubuntu', sans-serif;
}
h2{
  color: #222;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

/* ========================= */
/* ==== Header Section ===== */

header{
  background: linear-gradient(to right, #00867d, #0090a0);
  width: 100%;
  padding: 0.2rem 0;
}
.navbar{
  width: 100%;
}
.navbar .fa-bars{
  color: #fff;
  font-size: 2rem;
}
.navbar-brand img
.navbar-nav{}
.nav-item{
  margin-left: 0.5rem;
}
.nav-item .btn-sign{
  background: #00c29e;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-item a{
  color: #fff !important;
}
.nav-item a:hover{
  color: #bbb !important;
}

/* ========================= */
/* ==== Banner Section ===== */

.banner-area{
  background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../img/banner-bg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.banner-area .row{
  min-height: 90vh;
}
.banner-area button{}
.banner-area h1{
  color: #fff;
  font-weight: 500;
}
.banner-area .heading{
  font-weight: 300;
}
.btn-x{
  color: #fff;
  border: 1px solid #fff;
  margin: 3rem 0.3rem;
}
.btn-x:hover{
  background: #008f9e;
  border: 1px solid #008f9e;
}

/* ========================= */
/* ==== Delivary Section === */

.delivary-area{
  background: #e9e9e9;
  padding: 5rem 0;
}
.delivary-area .line-del{
  border-top: 1px solid #333;
  margin: 1rem;
}
.delivary-area p{
  margin-bottom: 4.5rem;
  font-size: 1.1rem;
}
.delivary-area .card{
  text-align: center;
  background: #fff;
  height: 27rem;
}
.card .img-iconx{
  width: 40%;
  margin: 1rem 0;

}

/* ========================= */
/* = How irt Works Section = */
.how-area{
  background: #fff;
  padding: 5rem 0;
}
.how-area .iphone{
  float: right;
  margin-right: 1rem;
}
.how-area .feature-no{
  font-size: 2.5rem;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.2rem;
  text-align: center;
  border: 2px solid #008780;
  display: inline-block;
  border-radius: 50%;
}
.how-area p{
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0.8rem;
}
.how-area .how-feat:first-child{
  margin-top: 3rem;
}
.how-area .how-feat{
  margin-top: 1.5rem;
}
.how-area .play-store{
  margin: 5rem 1rem 0 1rem;
}
.how-area .app-store{
  margin-top: 5rem;
}
.how-area h2{
  margin-bottom: 4rem;
}

/* ========================= */
/* ==== Cities Section ===== */
.cities-area{
  background: #e9e9e9;
  padding: 5rem 0;
}
.cities-area h2{
  margin-bottom: 5rem;
}
.cities-area .card .card-body{
  background: #e9e9e9;
  padding: 1.25rem 0;
}
.cities-area .card{
  border: 0;
}
.cities-area .card h5{
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.cities-area .icon-text{}
.cities-area .icon-text .fa{
  color: #2d8364;
  font-size: 2rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;
}
.cities-area .icon-text p{
  display: inline-block;
}

/* ========================= */
/* == Testimonial Section == */
.testimonial-area{
  background: linear-gradient(rgba(14,65,35,0.7),rgba(14,65,35,0.9)), url(../img/testimonial-bg.png) no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #fff;
}
.testimonial-area h2{
  color: #fff;
}
.testimonial-area .quote-mark{
  font-size: 4.5rem;
  line-height: 5rem;
}
.testimonial-area p{
  display: inline;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2;
}
.testimonial-area .joana-silva{
  margin-top: 4rem;
}
.testimonial-area img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.testimonial-area .joana-silva p{
  line-height: 7rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* ========================= */
/* ===== Plans Section ===== */

.plans-area{
  background: #e9e9e9;
  padding: 5rem 0;
}
.plans-area h2{
  margin-bottom: 5rem;
}

/* Default Plan Box Before Hover */
.plan-box{
  background: #fff;
  padding: 1rem 1.2rem;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 1px 5px #888;
}
.plan-head{
  text-align: center;
}
.plan-head h4{
  text-transform: uppercase;
  font-size: 26px;
  margin: 20px 0 30px;
}
.plan-head p{
  font-size: 22px;
}
.plan-head .plan-rate{
  font-size: 32px;
  font-weight: 600;
}
.plans-area .br-line{
  border: 1px solid #fff;
  margin: 15px 0;
}
.plan-body{
  margin-bottom: ;
}
.plan-body p{
  font-size: 18px;
  line-height: 45px;
}
.plan-body .fa{
  color: #2d8364;
  font-size: 22px;
  margin-right: 12px;
}
.plan-box .btn-plan{
  background: transparent;
  padding: 10px 22px;
  border: 2px solid #008882;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 30px 0 20px 75px;
}

/* ====== Plan Box Hover Effect Area ===== */
.plan-box-hover{
  width: 100%;
  color: #fff;
  background: #008882;
  padding: 1rem 1.2rem;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.25s linear;
}
.plan-box-hover .plan-head2{
  text-align: center;
}
.plan-box-hover .plan-head2 h4{
  text-transform: uppercase;
  font-size: 26px;
  margin: 20px 0 30px;
}
.plan-box-hover .plan-head2 p{
  font-size: 22px;
}
.plan-box-hover .plan-rate2{
  font-size: 32px;
  font-weight: 600;
}
.plan-box-hover .br-line2{
  border: 1px dashed #ccc;
  margin: 15px 0;
}
.plan-box-hover .plan-body2{
  margin-bottom: ;
}
.plan-box-hover .plan-body2 p{
  font-size: 18px;
  line-height: 45px;
}
.plan-box-hover .plan-body2 .fa2{
  color: #fff;
  font-size: 22px;
  margin-right: 12px;
}
.plan-box-hover .btn-plan2{
  background: transparent;
  color: #fff;
  padding: 10px 22px;
  border: 2px solid #fff;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 30px 0 20px 75px;
}
/* Box Hover Command Here */
.plan-box:hover .plan-box-hover{
  opacity: 1;
  cursor: pointer;
}
.plan-box-hover .btn-plan2:hover{
  background: #005551;
  cursor: pointer;
  transform: scale(1.09);
}

/* ========================= */
/* ==== Contact Section ==== */
.contact-area{
  background: #fff;
  padding: 5rem 0;
}
.contact-area h2{
  margin-bottom: 5rem;
}
.contact-area .btn-form{
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  margin-top: 2rem;
  margin-left:35%;
  border: 2px solid #008882;
  color: #222;
}
.contact-area .btn-form:hover{
  color: #fff;
  background: #008882;
}
.contact-area .form-control{
  background: #e9e9e9;
  height: 2.8rem;
}

/* ========================= */
/* ==== Footer Section ==== */
footer{
  background: linear-gradient(rgba(0,41,23,0.7),rgba(0,41,23,0.7)) , url(../img/footer-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  color: #fff;
}
footer .footer-left img{
  position: relative;
}
footer .footer-left .fa-map-marker{
  position: absolute;
  color: #fff;
  float: left;
  font-size: 30px;
  width: 10px;
  height: 10px;
  top: 375px;
  left: 82px;
}
.footer-right .dot{
  display: inline-block;
  font-size: 25px;
  margin-right: 8px;
}
.right-top{
  padding: 60px 0;
}
.right-top h4{
  display: inline-block;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.right-top p{
  padding-left: 35px;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
}
.right-down{
  margin-left: 35px;
}
.right-down h3{
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 600;
}
.right-down ul{
  margin-top: 15px;
  margin-left: -40px;
}
.right-down ul li{
  display: inline-block;
}
.right-down ul li a{
  margin-right: 6px;
}
.right-down .fa{
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #222;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s ease-in;
}
.right-down .fa-facebook,
.right-down .fa-instagram{
  font-size: 24px;
}
.right-down .fa:hover{
  transform: rotate(360deg);
}
